.dark-mode {
	margin: 1em;
	padding: 1em;
	border: 1px solid rgb(35, 35, 35);
	background-color: rgb(236, 210, 158);

	button {
		background-color: rgb(239, 192, 131);
	}

	/* samma som att skriva: .dark-mode.on */
	&.on {
		border-color: rgb(236, 210, 158);
		background-color: rgb(35, 35, 35);

		/* .dark-mode.on button */
		button {
			background-color: rgb(35, 35, 35);
			color: rgb(239, 192, 131);
		}
	}
}
